<!doctype html>
<html>

<head>
  <title>MVC - Exemplo</title>
</head>

<body style="background-color: rgb(61, 61, 65);">
  <div  style= "display: flex; align-items: center; justify-content: center; ">
      <h2 style="color: rgb(255, 255, 255); width: 50vw;  position: absolute; top: 40%;">
        <%= joke %>
      </h2>
  </div>
</body>

</html>